.Home{
    width: 800px;
    margin: 100px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    >div{
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding-left: 5px;
        padding-right: 5px;
    }
}